In [4]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
plt.rc('figure', figsize = (15, 8))

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [7]:
area = plt.figure()

TypeError: 'module' object is not callable

In [8]:
g1 = area.add_subplot(2, 2, 1)
g1 = area.add_subplot(2, 2, 2)
g1 = area.add_subplot(2, 2, 3)
g1 = area.add_subplot(2, 2, 4)

NameError: name 'area' is not defined